.sidebar,
.off-canvas-sidebar{
    &[data-color="darkblue"]{
        @include sidebar-color($darkblue-color);
    }
}

.navbar{
  &.bg-white{
    border-bottom: 1px solid $font-color;

    .navbar-wrapper{
      min-height: 53px;
    }
  }
}

@media (max-width: 991.98px){
  .sidebar{
    .logo-image{
      margin: 8px auto;
      width: 80px;

      @include transition($slow-transition-time, $transition-bezier);
    }
  }

  .menu-toggle{
    .menu-toggle-btn{
      width: 0;
      opacity: 0;
      margin-right: 0;
    }
  }
}

@media (min-width: 992px){
  .sidebar{
    .logo-image{
      margin: 12px auto;
      width: 112px;

      @include transition($slow-transition-time, $transition-bezier);
    }
  }

  .menu-toggle{
    cursor: pointer;
    margin-right: 20px;
    padding-left: 9px;

    .menu-toggle-btn {
      width: 16px;
      margin-top: 1px;
      padding: 2px 0 0 0;
      float: left;
      position: relative;
      display: block;
      transition-duration: .3s;
      transition-delay: .5s;
      opacity: 1;

      .nav-open & {
        transition-delay: 0s;
      }

      .line {
        height: 1px;
        display: block;
        background: $font-color;
        margin-bottom: 5px;
        transition-duration: .5s;
        transition-delay: .5s;
      }
      
      .nav-open & .line-angle1 {
        transform: rotate(-60deg);
      }

      .nav-open & .line-angle2 {
        transform: rotate(60deg);
      }

      .line-angle1 {
        width: 8px;
        margin: 0;
        position: absolute;
        top: 5px;
        left: -9px;
        transform: rotate(-120deg);
      }

      .line-angle2 {
        width: 8px;
        margin: 0;
        position: absolute;
        top: 11px;
        left: -9px;
        transform: rotate(120deg);
      }
    }
  }


  .wrapper{
    @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));
  }

  .nav-open{
    .main-panel{
        right: 0;
        @include transform-translate-x(260px);
    }

    .sidebar{
        @include transform-translate-x(0px);
    }

    body{
        position: relative;
        overflow-x: hidden;
    }
  }

  #bodyClick{
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    left: 260px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
    background-color: transparent;
    @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));
  }

  .sidebar,
  .bootstrap-navbar {
      position: fixed;
      display: block;
      top: 0;
      height: 100%;
      width: 260px;
      right: auto;
      left: 0;
      z-index: 1032;
      visibility: visible;
      overflow-y: visible;
      padding: 0;
      @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

      @include transform-translate-x(-260px);
  }

  .main-panel{
    width: 100%;
  }
}
