.sidebar,
.off-canvas-sidebar{
  &[data-color="darkblue"]{
      @include sidebar-color($darkblue-color);
  }

  .logo{
    #logo-menu-shrink{
      cursor: pointer;
      display: none;
    }
  }
}

.navbar{
  &.bg-white{
    border-bottom: 1px solid $font-color;

    .navbar-wrapper{
      min-height: 53px;
    }
  }
}

.nav{
  li{
    a[data-toggle="collapse"]:not(.collapsed){
      i,
      p{
        color: $info-color !important;
      }
    }
  }

  li.menu-item-collapse{
    border-left: 4px solid $info-color;

    a{
      margin-top: 0;
      i,
      p{
        color: $info-color !important;
      }
    }
  }
}

@media (max-width: 991.98px){
  .sidebar{
    @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

    a.logo-image{
      display: block;
      cursor: pointer;
      margin: 8px auto;
      width: 80px;
    }
  }

  .menu-toggle{
    .menu-toggle-btn{
      width: 0;
      opacity: 0;
      margin-right: 0;
    }
  }
}

@media (min-width: 992px){
  .sidebar{
    a.logo-image{
      display: block;
      cursor: pointer;
      margin: 12px auto;
      width: 112px;

      @include transition($slow-transition-time, $transition-bezier);
    }
  }

  .menu-toggle{
    cursor: pointer;
    margin-right: 20px;
    padding-left: 9px;

    .menu-toggle-btn {
      width: 16px;
      margin-top: 1px;
      padding: 2px 0 0 0;
      float: left;
      position: relative;
      display: block;
      transition-duration: .3s;
      transition-delay: .5s;
      opacity: 1;

      .menu-shrink & {
        transition-delay: 0s;
      }

      .line {
        height: 1px;
        display: block;
        background: $font-color;
        margin-bottom: 5px;
        transition-duration: .5s;
        transition-delay: .5s;
      }
      
      .menu-shrink & .line-angle1 {
        transform: rotate(-120deg);
      }

      .menu-shrink & .line-angle2 {
        transform: rotate(120deg);
      }

      .line-angle1 {
        width: 8px;
        margin: 0;
        position: absolute;
        top: 5px;
        left: -9px;
        transform: rotate(-60deg);
      }

      .line-angle2 {
        width: 8px;
        margin: 0;
        position: absolute;
        top: 11px;
        left: -9px;
        transform: rotate(60deg);
      }
    }
  }

  .menu-shrink{
    .main-panel{
      width: calc(100% - 74px);

      @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));
    }

    .sidebar{
      width: 74px;
      @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

      .sidebar-wrapper{
        width: 74px;

        li.active{
          > a:not([data-toggle="collapse"]),
          > [data-toggle="collapse"] + div .nav li {
            &:before{
              content: none;
            }

            &:after{
              content: none;
            }
          }
        }

        li.menu-item-collapse{
          border-left: 0;
        }

      }

      #logo-menu-shrink{
        display: block;
      }

      a.logo-image{
        display: none;
        // margin: 6px 0;
        // padding-left: -2px;
        // width: 54px;
      }

      .nav{
        a{
          padding: 3px 3px;
        }
        p{
          visibility: hidden;
          line-height: 0;
        }
      }

    }
  }
}
