.sidebar,
.off-canvas-sidebar{
    &[data-color="darkblue"]{
        @include sidebar-color($darkblue-color);
    }
}

.navbar{
  &.bg-white{
    border-bottom: 1px solid $font-color;

    .navbar-wrapper{
      min-height: 53px;
    }
  }
}

@media (max-width: 991.98px){
  .sidebar{
    .logo-image{
      margin: 8px auto;
      width: 80px;

      @include transition($slow-transition-time, $transition-bezier);
    }
  }
}

@media (min-width: 992px){
  .sidebar{
    .logo-image{
      margin: 12px auto;
      width: 112px;

      @include transition($slow-transition-time, $transition-bezier);
    }
  }
}
